<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UNIVERSITY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Administrator <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a asp-area="" asp-controller="Administrator" asp-action="CourseIndex">Courses</a></li>
                            <li><a asp-area="" asp-controller="Administrator" asp-action="StudentIndex">Students</a></li>
                            <li><a asp-area="" asp-controller="Administrator" asp-action="TeacherIndex">Teachers</a></li>
                            <li><a asp-area="" asp-controller="Administrator" asp-action="EnrollmentIndex">Enroll Students</a></li>
                        </ul>
                    </li>
                    <div class="navbar-collapse collapse">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Teacher <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Teacher" asp-action="TeacherName">Courses</a></li>
                                <li><a asp-area="" asp-controller="Teacher" asp-action="TeacherEnrollment">Enrollments</a></li>
                            </ul>
                        </li>
                    <div class="navbar-collapse collapse">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Student <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-area="" asp-controller="Student" asp-action="StudentName">Courses</a></li>
                            </ul>
                        </li>
                    </div>
                    </div>
                </div>

                </div>
                   
                </nav>
            </header>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - University - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
        </body>
        </html>
